* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-primary: #220025;
    --color-primary-light: #500057;
    --color-primary-dark: #220025;
    --color-primary-text: #fff;

    --color-secondary: #eec945;
    --color-secondary-light: #ffdf6b;
    --color-secondary-dark: #d6a800;
    --color-secondary-text: #000;

    --color-success: #1db954;
    --color-success-text: #fff;

    --color-error: #d1453b;
    --color-error-text: #fff;

    --color-neutral: #333333;
    --color-neutral-text: #fff;
}

body {
    background-image: url(assets/background.svg);
    background-size: cover;
    background-attachment: fixed;
}

body.bg-home {
    background-image: url(assets/landing_page.svg);
}

main {
    background-color: #F3F0F9;
    padding: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 1000px;
    margin: 0 auto;
}

main.form {
    border-radius: 20px;
    margin-top: 80px;
}

.form-group {
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-field {
    flex-basis: 100%;
    flex-grow: 1;
    margin-top: 25px;
}

.form-field label {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1rem;
}

input.form-control, select.form-control {
    background-color: #F3F0F9;
    width: 100%;
    padding: 10px 15px;
    border-radius: 2px;
    border: 1px solid #888888;
    font-family: 'Poppins', 'sans-serif';
}

input.form-control:focus-visible {
    outline: 1px solid #000000;
    border-color: #000000;
}

.form-actions {
    margin-top: 30px;
}

.form-button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-secondary-text);
    font-family: 'Poppins', 'sans-serif';
    padding: 10px 20px;
    border-radius: 100px;
}

.form-button:hover {
    cursor: pointer;
    background-color: var(--color-secondary-dark);
}

.validation {
    position: absolute;
}

.validation-error {
    font-family: 'Poppins', 'sans-serif';
    color: var(--color-error);
    font-size: 0.8rem;
}

.hide {
    opacity: 0;
}

.title {
    text-align: center;
    font-family: 'Inter', 'sans-serif';
    font-size: 3rem;
    margin-bottom: 80px;
}

.flex-filler {
    flex-grow: 1;
}

.flex-bottom {
    align-self: flex-end;
}

.link-spotify {
    flex-basis: 0;
}

.link-spotify button {
    white-space: nowrap;
}