<nav>
    <div>
        <button (click)="navigate('home')">Home</button>
    </div>
    <div>
        <button (click)="navigate('sign-up')">Sign Up</button>
    </div>
    <div>
        <button (click)="navigate('sign-in')">Sign In</button>
    </div>
    <div>
        <button (click)="navigate('music-taste')">Music Taste</button>
    </div>
    <div>
        <button (click)="navigate('recommendations')">Recommendations</button>
    </div>
    <div>
        <button (click)="navigate('swipe')">Explore</button>
    </div>
    <div class="spacer"></div>
    <div>
        <button class="btn-get-started">Get started</button>
    </div>
    <div *ngIf="user$ | async as user">
        <button (click)="signOut()">{{ user.displayName }}</button>
    </div>
</nav>